body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----- Board & Page ----- */
.gameBoard {
  background-color: rgb(20,105,225);
  border-radius: 25px; 
  width: 420px;
  padding: 15px;
}

.playArea {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
  height: 485px;
}

.mainPage { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 475px;
  min-height: 515px;
  height: 100vh;
  background-color: antiquewhite;
}

.messageDisplay {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 5px 10px; 
  width: 175px; 
  background-color: white;
  border: 2px solid black;
  border-radius: 35px;
}

/*----- Board Holes -----*/
.boardHole {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 5px;
  border-color: rgba(0,0,0,0.75);
  transition: 0.25s;
}

.boardHole.whiteSpot {
  background-color: antiquewhite;
  cursor: pointer;
}

.boardHole.redSpot {
  background-color: rgba(225,70,95, 0.99);
}

.boardHole.yellowSpot {
  background-color: rgba(230,210,60, 0.99);
}

.boardHole.orangeSpot {
  background-color: rgb(205,135,0);
}

/* ----- Other Page Elements ----- */
#resetBtn {
  color: white;
  background-color: rgb(20,105,225);
  border: 2px solid black;
  border-radius: 50%;
  font-weight:  bold;
  font-size: 115%;
  height: 85px;
  width: 85px;
  cursor: pointer;
}