body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boardHole {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 5px;
}

.boardHole.redSpot {
  background-color: red;
}

.boardHole.yellowSpot {
  background-color: yellow;
}

.boardHole.orangeSpot {
  background-color: yellow;
}